body {
  overflow: hidden;
}

.app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding-top: 10rem;
  touch-action: none;
}

.wrapper {
  font-size: 3rem;
  height: 3rem;
  padding: 1.5rem 0;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}

.text-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 1.5rem;
  height: 1.5rem;
  touch-action: none;
}

.current {
  position: absolute;
  pointer-events: none;
}

.animated .current,
.animated .next {
  transition: transform 300ms;
}
